#wrapper {
  background-image: url(../imgs/spaceBackground.jpg);
  background-position: center;
}

header {
  color: #e6e8eb;
  background-color: rgb(47, 44, 51);
  padding: 5vh;
}

h2 {
  text-align: center;
}

footer {
  color: #e6e8eb;
  background-color: rgb(47, 44, 51);
  text-align: center;
  padding: 5vh;
}

main {
  background-color: #e6e8eb;
  margin: 0;
  padding: 1rem 0;
}
main .nasaTitle {
  padding: 2vh 2vw;
}

.nasaContent {
  overflow: hidden;
}
.nasaContent img {
  width: 100%;
}

.nasaDate {
  text-align: center;
  margin-bottom: 0;
  padding: 1vh 0;
}

.nasaDesc {
  padding: 0 2vw 2vh 2vw;
  margin-bottom: 0;
}

img {
  width: 100%;
}

.card {
  margin: 0.5rem 0;
}

@media only screen and (min-width: 768px) {
  main {
    margin: 0 15vw 0 15vw;
  }
  .card-wrapper {
    margin: 0 2rem 0 2rem;
  }
  .notable-card {
    margin: 0;
  }
  .card {
    padding-left: 0;
  }
}